version: '3'
services:
  authentication-service:
    build:
      context: ./Auth
    networks:
      - app-network
  api-gateway:
    build:
      context: ./APIGateway
    ports:
      - 3000:3000
    networks:
      - app-network

  mongodb:
    image: mongo
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
